---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="" >
  <Container >
    <Hero />
   
    <Features />
    <section class="bg-gray-100 text-gray-800">
      <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
        <h2 class="text-2xl font-semibold sm:text-4xl">HAZEYouth Signposts</h2>
        <div class="space-y-4">
          <details class="w-full border rounded-lg">
            <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Redefine the Future, Come Aboard</summary>
            <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-600">In a world where young voices often get lost in the noise, HAZEYouth offers a dynamic platform for you to be heard, to learn, to dream, and to lead. We challenge stereotypes and create a new narrative powered by the ingenuity and resilience of youth like you. </p>
          </details>
          <details class="w-full border rounded-lg">
            <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Journey's Essence, Your Voice</summary>
            <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-600">Your individuality is celebrated here. We offer avenues for you to explore your interests, nurture your talents, and engage in constructive dialogues. At HAZEYouth, you are not just a member; you are a pivotal part of a community that values authenticity and diversity.</p>
          </details>
          <details class="w-full border rounded-lg" open="">
            <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Well-Being's Importance, Our Priority</summary>
            <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-600">Your mental and emotional well-being is our top concern. We create safe, inclusive, and nurturing spaces where you can collaborate with peers and mentors, ensuring you do not just survive but thrive.</p>
          </details>
          <details class="w-full border rounded-lg" open="">
            <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Creative Potential, We Unlock</summary>
            <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-600">Discover the transformative power of creativity. HAZEYouth encourages you to tap into your unique talents and channel them for personal growth and community impact. We use the arts, especially music, to foster positive self-expression and catalyse social change.</p>
          </details>
          <details class="w-full border rounded-lg" open="">
            <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Destiny's Path, Your Choice</summary>
            <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-600">Take charge of your destiny. At HAZEYouth, we provide the tools, resources, mentorship, and guidance you need to build your future. While we may not offer educational resources as such, we believe that knowledge is your ultimate asset. Here, you are empowered to make informed choices and create opportunities for yourself and others.</p>
          </details>
          <details class="w-full border rounded-lg" open="">
            <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Change Catalyst, Join Us</summary>
            <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-600">Ready to make a difference? If you are aged 15-35 and passionate about change, you are in the right place. Join our initiatives, connect with like-minded individuals, and embark on a transformative journey. Your involvement makes our collective vision of a better world possible.</p>
          </details>
        </div>
      </div>
    </section>
    
    <Cta />
  </Container>
</Layout>
