---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

import Accordion from "@components/accordion.astro";
---
---

<Layout title="" >
  <Container >
    <h1
          class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl text-center font-extrabold text-transparent sm:text-5xl "
        >
        Haze Music For Youth Empowerment
  
          <span class="sm:block">   </span>
        </h1>
    <Hero />
   
    <Features />
    <Accordion />
    <Cta />
  </Container>
</Layout>
