---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Safe Place",
    price: "$1,000",
    popular: false,
    features: [
      "Safe Place for help",
      "Counseling",
      "Free Mental Health Checkups",
      "Life Coaching",
      
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Studio",
    price: {
      monthly: "$10,000",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "Music Production",
      "Offers lessons",
      "Business of Music",
      "Video Production"
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Rehab Centre",
    price: "100,000",
    popular: false,
    features: [
      "Rehabilitation facilties",
      "Detox Centre",
      "Upskilling",
      "Cross-Border Support"
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Donations</Fragment>
      <Fragment slot="desc"
        >Join our cause and be a part of the family.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
