---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Be yourself",
    description:
      "HAZE Youth encourages young people to be true to themselves. We should not allow external frames such as social identities to define us.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Be authentic",
    description:
      "We are all uniquely gifted…let us all use our inner capacities and insight for self-expression and social development.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Coaching",
    description:
      "To coach young people for positive peer pressure and identities.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Safe Places",
    description:
      "To provide safe, inclusive and supervised spaces for young people to maintain mental health.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Music Programs",
    description:
      "To leverage the power of creativity to promote positive self-expression and social change   ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Haze Youth will build a grass roots community that creates change in the world.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Established To Drive Change Among Youth
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    HAZE Music for Youth Empowerment (HAZE Youth) is a non-profit organisation established to enable young people aged 15-35 years to drive change. We challenge the dominant narrative and stereotypes about youth. At the same time, we encourage young people to think different,
     to embrace bold creativity and change, to strive for excellence and to continually learn. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
